<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <%-include('nav')%>
      <h1>User Profiles</h1>
      <div class="content">
        <ul>
          <% users.forEach(user =>{ %>
          <li>
            <%= user.name %> | <a href="/delete/<%=user._id%>">❌</a> |
            <a href="/update/<%= user._id%>">↗️</a>| 
            <a href="/post/create/<%=user._id%>">➕</a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
